* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #7c3aed85;
  border-radius: 10px;
}

ul li {
  user-select: none;
}

.listItem .taskDot {
  display: none;
}

.listItem .taskCheckIcon {
  display: block;
}
